/* footer responsive start */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
    .footer_email {
        font-family: Georgia;
        font-weight: bold;
        color: #161F6B;
        background-color: #FFCD01;
        width: 107px;
        text-align: center;
        height: 47px;
        padding-top: 12px;
        position: absolute;
        top: 1px;
        left: 139px;
        font-size: 13px;
    }

      .footer_s {
        height: 48px;
        width: 247px;
      }

    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    .f_footer_logo, .f_footer_logo img {
        height: auto;
        width: 100%;
        padding: 0px 83px !important;
    
    }
    .img_rihgt {
        height: 17px;
    }
    .ll {
        flex: 0 0 auto;
        width: 54.667% !important;
        padding-left: 0px !important;
    }
    .footer {
    background-color: #161F6B;
    padding: 22px 30px 70px 30px;
    text-align: center;
        }

    .navber_icon_u {
        list-style: none;
        font-size: 25px;
    }
    .footer_widget_head h3 {
        color: #FFCD01;
        font-size: 21px;
        padding: 0px 0px 13px 44px;
        font-family: Georgia;
        font-weight: bold;
    }
    .footer_widget_head h3 {
        color: #FFCD01;
        font-size: 21px;
        padding: 0px 0px 13px 4px;
        font-family: Georgia;
        font-weight: bold;
    }
    .footer_widget_point {
        color: white;
        text-decoration: none;
        font-family: Georgia;
        font-size: 15px;
        line-height: 28px;
    }
    
    .footer_widget_point {
        color: white;
        text-decoration: none;
        font-family: Georgia;
        font-size: 15px;
        line-height: 28px;
        padding: 0px 185px !important;
    }
    .footer_s {
        height: 48px;
        width: 410px;
        margin-left: 134px;
        padding-top: 0px;
    }
    .footer_email {
        font-family: Georgia;
        font-weight: bold;
        color: #161F6B;
        background-color: #FFCD01;
        width: 119px;
        text-align: center;
        height: 46px;
        padding-top: 12px;
        position: absolute;
        top: 1px;
        left: 425px;
    }
    .footer_copyrihgt {
        background-color: #FFCD01;
        padding: 28px 13px 3px 121px;
    
    }
    .img_rihgt img {
        height: auto;
        width: 100%;
        padding-right: 49px;
    }
    .img_rihgt {
        height: 17px;
        padding-left: 115px;
    }
    .img_rihgt img {
    height: auto;
    width: 100%;
    padding-right: 12px !important;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    .ll {
        flex: 0 0 auto;
        width: 54.667% !important;
        padding-left: 0px !important;
    }

    .footer {
        background-color: #161F6B;
        padding: 25px 30px 70px 30px;
          padding-top: 25px;
          padding-right: 30px;
          padding-bottom: 70px;
          padding-left: 30px;
    }
    .footer {
        background-color: #161F6B;
        padding: 25px 30px 70px 30px;
        padding-top: 25px;
        padding-right: 30px;
        padding-bottom: 70px;
        padding-left: 30px;
        text-align: center !important;
    }
    .f_social_media {
        padding-left: 1.2rem;
        font-size: 25px;
    
    }
    .footer_widget_head h3 {
        color: #FFCD01;
        font-size: 25px;
        padding: 0px 0px 13px 10px;
        font-family: Georgia;
        font-weight: bold;
    }
    .footer_widget_point {
        color: white;
        text-decoration: none;
        font-family: Georgia;
        font-size: 18px;
        line-height: 28px;
    }
    .footer_s {
        height: 48px;
        width: 361px;
        margin-left: 26px;
    }
    .footer_email {
        font-family: Georgia;
        font-weight: bold;
        color: #161F6B;
        background-color: #FFCD01;
        width: 119px;
        text-align: center;
        height: 46px;
        padding-top: 12px;
        position: absolute;
        top: 1px;
        left: 242px;
    }
    .footer_copyrihgt {
        padding: 16px 12px 3px 16px;;
    }
    .img_rihgt {
        height: 17px;
        padding-left: 52px;
    }
    .footer_email {
        font-family: Georgia;
        font-weight: bold;
        color: #161F6B;
        background-color: #FFCD01;
        width: 119px;
        text-align: center;
        height: 46px;
        padding-top: 12px;
        position: absolute;
        top: 1px;
        left: 267px;
    }
    .img_rihgt img {
        height: auto;
        width: 95%;
        padding-right: 6px !important;
    }
      
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */
    .footer {
        background-color: #161F6B;
        padding: 25px 30px 70px 30px;
          padding-top: 25px;
          padding-right: 30px;
          padding-bottom: 70px;
          padding-left: 30px;
    }

    .ll {
        flex: 0 0 auto;
        width: 54.667% !important;
        padding-left: 0px !important;
    }
    .footer {
        background-color: #161F6B;
        padding: 25px 30px 70px 30px;
        padding-top: 25px;
        padding-right: 30px;
        padding-bottom: 70px;
        padding-left: 30px;
        text-align: center !important;
    }
    .f_social_media {
        padding-left: 1.2rem;
      }
      .footer_widget_head h3 {
        color: #FFCD01;
        font-size: 18px;
        padding: 0px 0px 13px 10px;
        font-family: Georgia;
        font-weight: bold;
      }
      .footer_widget_point {
        color: white;
        text-decoration: none;
        font-family: Georgia;
        font-size: 12px;
        line-height: 28px;
      }
      .footer_s {
        height: 43px;
        width: 265px;
      }
      
    .footer_email {
        font-family: Georgia;
        font-weight: bold;
        color: #161F6B;
        background-color: #FFCD01;
        width: 119px;
        text-align: center;
        height: 46px;
        padding-top: 12px;
        position: absolute;
        top: 1px;
        left: 242px;
    }
    .footer_copyrihgt {
        padding: 16px 12px 3px 16px;;
    }
    .img_rihgt {
        height: 17px;
        padding-left: 52px;
    }
    .footer_email {
        font-family: Georgia;
        font-weight: bold;
        color: #161F6B;
        background-color: #FFCD01;
        width: 102px;
        text-align: center;
        height: 42px;
        padding-top: 12px;
        position: absolute;
        top: 0px;
        left: 162px;
        font-size: 13px;
      }
      .img_rihgt img {
        height: 11px !important;
        width: 39px !important;
        padding-right: 6px !important;
      }
    .copyrithh_text p {
        font-family: Georgia;
        font-weight: bold;
        color: #161F6B;
        font-size: 7px;
    }
    .footer_copyrihgt {
        padding: 12px 0px 0px 9px !important;
    }
    .img_rihgt {
        height: 13px;
        padding-left: 27px;
    }
    
  }

  /* footer responsive end */